/*! menu.css v1.0.0 */
html,
body,
#app {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  background: #ffffff;
  font-size: 12px;
  font-family: sans-serif;
  font-weight: 400;
  color: #000;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  box-sizing: border-box;
}

#app {
  position: relative;
}

h1,
h2,
h3,
h4,
h5,
.title {
  font-family: cursive;
  font-weight: 400;
}

.hidden {
  display: none;
}

.row,
.column,
.center {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: row;
  width: 100%;
}
.column {
  flex-direction: column;
  justify-content: flex-start;
}
.center {
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.carousel {
  position: relative;
}
.carousel__item {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.price {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-end;
}
.price__int {
  font-weight: bold;
  font-size: 1.1em;
}
.price__dec {
  font-size: 0.8em;
  margin-left: 2px;
}
.price__cur {
  font-style: italic;
}

.category {
  display: flex;
  width: 100%;
  flex-direction: column;
  padding: 8px 32px;
}
.category__title {
  font-weight: bold;
  margin: 8px 0;
  font-size: 160%;
  display: flex;
  flex-direction: row;
  padding: 3px;
}
.category__line {
  flex: 1;
  margin-left: 4px;
  border-bottom: 2px solid black;
  margin-bottom: 4px;
}

.product {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: space-between;
  padding: 3px;
}
.product__title {
  font-weight: bold;
  display: flex;
  flex-direction: row;
  width: 100%;
}
.product__cl {
  margin-left: 10px;
}
.product__line {
  flex: 1;
  margin-left: 4px;
  margin-right: 4px;
  border-bottom: 1px dotted black;
  margin-bottom: 4px;
}
.product__desc {
  opacity: 0.9;
}

.translate {
  padding: 10px;
}

.translate,
.translate img {
  height: 100%;
}

.root,
.row,
.column,
.carousel,
.product,
.category {
  position: relative;
}

.hidden {
  display: none;
}

.pdf {
}
.pdf-page {
  position: absolute;
  width: 100%;
  height: 100%;
  transition: transform 0.4s ease, opacity 0.4s ease;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  visibility: hidden;
  transform: translateX(100%);
  opacity: 0;
}
.pdf-page--active {
  visibility: visible;
  transform: translateX(0);
  opacity: 1;
}
.pdf-page--after {
  visibility: visible;
  transform: translateX(-100%);
  opacity: 0;
}
